<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="afinal.thesis.com.wired22">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pic_logo_wired_colored"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainDashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar.Transparent"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashLoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
    </application>

</manifest>